body {
    margin:0;
    padding:0;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size:18px;
    background-color:#F5F5D4;
}
h1 {
    font-size:1.5em;
}
h2 {
    font-size:1.25em;
    border-bottom:2px solid #B81F02;
}
table, tr, td {
    border:0;
}
img {
    border:0;
}
a {
    color:#1A4F00;
}
a:hover {
    color:#A2C294;
    text-decoration:none;
}
#divHeader {
    background-color:#B82002;
    border-bottom:2px solid #000;
    font-family: Georgia, Verdana, sans-serif;
    font-size: 28px;
    padding: 8px 0px 8px 10px;
}
#divHeader a {
    color:#FFF;
    text-decoration:none;
}
#divContent {
    margin:0px auto;
    width:900px;
    text-align:left;
}
#divFooter {
    margin-top:75px;
    font-size:10px;
    text-align:center;
    clear:both;
}
.flow {
    float:left;
    padding:10px;
    width:425px;
}
.noodle {
    padding-bottom: 10px;
}
.noodle img {
    vertical-align: middle; 
}
.noodle span {
    display: inline-block;
    width: 300px;
    margin-left: 5px;
}
.noodle > a {
    display: inline-block;
    width: 110px;
    text-decoration: none;
    border: 1px solid #000;
}
