body{  
	margin:0;
    padding:0;
    border:0;
    font-family:arial,verdana,sans-serif;
    font-size:16px;
	text-align:center;
    color:#DBDADA;
    background-color:#6E6F71;   
}
h2{
    font-size:1.5em;
    font-weight:200;
    text-decoration:underline;
}
#content{
    background-color:#4A0000;
    width:960px;
    margin:auto;   
    text-align:left;
}
#header{
   padding:15px;
   text-align:center;
}
#footer{
    text-align:center;
    font-size:12px;
    padding:15px;
}